.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.contact-field input {
    font-size: 0.75em;
    padding: 0.5em 1em
}